body{
    font-family: 'arial', 'helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
}

header, nav, section, aside, footer{
    background: #ebebeb;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

header{
    margin-bottom: 10px;
}

/* Container around Section and Aside */
.container{
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    margin-top: 10px;
    display: flex;
}


section, aside{
    float: left;
}

section{
    width: 495px;
    padding: 10px;
    margin-right: 20px;
}

/* override the header properties but separate from article children */
.article{
    color: #ebebeb;
    background: #777;
    padding: 10px;
}

article{
    background: #777;
    padding: 10px;
}

h1, p{
    color: #777;
    background: #ebebeb;
    margin: 10px;
    padding: 10px;
}

aside{
    overflow: auto;
    padding-top: 10px;
    width: 445px;
 }

/* clearfix hack to clear all floats */
/* .clearfix::after{
    content: "";
    display: block;
    clear: both;
} */

footer{
    margin-top: 10px;
}